.video{

    display: flex;
    justify-content: center;
}
video{
    border: 5px solid coral;
    border-radius: 20px;
}
.login{
    margin: 0 auto;
    max-width: 15%;
}
.login input{
    margin-top: 10px;
}